$colorPrimario: #4a325a;
$colorSecundario: rgb(203,7,6);
$colorTerciario: #98e7b1;
$colorCuaternario: #eccf0a;
$colorLinks: #e798ce;
$colorMenu1: #98e7b1f2;
$colorMenu2: rgba(77, 49, 86, 0.924);

